
.pressure-washer-product-images
{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  margin: 30px 0 30px 0;
  padding: 0;
}
.pressure-washer-product-images li
{
  list-style-type: none;
  width: 30%;
  margin: 0 10px 30px 10px;
  border: 1px solid #ccc;
  border-radius: 2px;
}
.pressure-washer-product-images img
{
  width: 100% !important;
  height: auto;
  object-fit: contain;
}
.pressure-washer-product-images h5
{
  text-align: center;
  color: #f26726 !important;
  font-size: 15px !important;
  font-weight: 100 !important;
}



@media only screen and (min-width : 1920px) and (max-width : 2560px) {
    .pressure-washer-product-images li
    { 
      width: 30%; 
    }
  
  }
  
  @media only screen and (min-width : 1600px) and (max-width : 1919px) {
    .pressure-washer-product-images li
    { 
      width: 30%; 
    }
  
 
  
  }
  
  @media only screen and (min-width : 1440px) and (max-width : 1599px) {
  
    .pressure-washer-product-images li
    { 
      width: 22%; 
    }
   
  
  
  }
  
  @media only screen and (min-width : 1366px) and (max-width : 1439px) {
  
    .pressure-washer-product-images h5 { 
      font-size: 15px !important;
  }
  
  .pressure-washer-product-images img
    { 
    height: 240px; 
    }

    .pressure-washer-product-images li
    { 
      width: 30%; 
    }
  
 
  
  
  
  }
  
  
  
  @media only screen and (min-width : 1200px) and (max-width : 1365px) {
  
    .pressure-washer-product-images li
    { 
      width: 30%; 
    }
  
    .pressure-washer-product-images img
    { 
    height: 210px; 
    }
  
  
  }
  
  @media only screen and (min-width : 1024px) and (max-width : 1199px) {
  
    .pressure-washer-product-images img { 
      height: 160px; 
  }
  
    .pressure-washer-product-images h5 { 
      font-size: 12px !important;
  }
  
    .pressure-washer-product-images li
    { 
      width: 29%; 
    }
  
 
  
  
  }
  
  @media only screen and (min-width : 768px) and (max-width :1023px) {
  
    .pressure-washer-product-images img { 
      height: 180px; 
  }
  
    .pressure-washer-product-images h5 { 
      font-size: 12px !important;
  }
  
    .pressure-washer-product-images li
    { 
      width: 30%; 
    }
  
 
  
  
  
  }
  
  @media only screen and (min-width : 150px) and (max-width : 767px) {
  
    .pressure-washer-product-images img { 
      height: auto; 
  }
    .pressure-washer-product-images li
    { 
      width: 100%; 
    }
  
    
 
  
  }
  
  @media only screen and (max-width : 375px) {
  
  
  
  }
  
  @media only screen and (max-width : 320px) {
  
 
  
  
  
  }
  
   